.content{
   display:flex;
   justify-content: space-between;
   img{
       height:50%;
       width:48%;
       margin-right:1%; 
   }
}

.content_text{
    .content_small_text{
        color:white;
        opacity:0.5;
        text-decoration: none;
    }
    .content_topic_text{
        color:white; 
        font-size: 25px;
         font-weight: bold;
          margin-top:7px;
    }
    .content_price_percent{
        color:white;
         font-weight: bold;
    }
    .content_mid_text{
        font-weight: bold; color:white; font-size:12px; margin-top:10px; margin-left:9px
    }
    svg{
        color:#DC4463; margin-top:5px; margin-right:8px;
    }
    .content_selector{
        display:flex;
         justify-content:flex-start; 
         margin-top:35px;
    }
}