.header{
    height:90px;
    width:100%;
    background-color: #111111;
    color:white;
    display:flex;
    justify-content: flex-end;
    padding-right:50px;

}
.navbar_box{
    display:Flex;
    justify-content: center;
    align-items: center;

    height:75px;
    width:120px;
    font-weight: 700;
    background-color: #111111;
    color:grey;
    margin-left:70px;

}
.active{

    background-color: #DC4463;
    color:white;


}
