.header{
    height:100px;
    width:100%;
    background-color: #111111;
    color:white;
    display:flex;
    justify-content: flex-end;
}



.navbar_inheader{
    margin-top:1.5%;
    font-weight: 800;
    color:grey;
    a{
        margin-left:15px;
        margin-right:50px; 
        border-width: 20px;
        border-top-width: 90px;
        border-bottom-width: 30px;
        border-style: dashed;
      
    }
}

.navb_select{
    color:grey;
    text-decoration: none;
    
}

.active{   
    cursor: pointer;     
    background-color:#DC4463;
    border-color:#DC4463;
    border-width: 20px;
    border-top-width: 90px;
    border-bottom-width: 30px;
    border-style: dashed;
    color:white;    
}

