.topic{
    display:flex;
    justify-content: center;

    #line{
        height:2px;
        width:80px;
        background-color: #DC4463;
    }




}










   //* <hr>
    //*  <h1>Bootstrap Template</h1>
    //*  <p>Nunc quis ipsum sit amet libero eleifend tempus ultricies tristique</p>
